*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #d9d9d9;
  font-family: 'Cormorant Garamond', serif;
  scroll-behavior: smooth;
}

/* slider css start */

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 2s ease;
}

.slide {
  width: 33.33%;
  height: 100%;
  position: relative;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.slide:nth-child(1) {
  background-image: url(images/slider2.jpg);
}

.slide:nth-child(2) {
  background-image: url(images/slider1.jpg);
}

.slide:nth-child(3) {
  background-image: url(images/slider3.jpg);
}

.slide-data {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0 20%;
}

.slide-data p{
  color: #fff;
}

.slide-data h2 {
  font-weight: bold;
  font-size: 5em;
}

.slide-data p {
  font-size: 18px;
  margin-bottom: 10px;
}

.slide-data button {
  background: none;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bolder;
  padding: 10px 25px;
  font-size: 20px;
  transition: 0.4s linear;
}

.slide-data button:hover {
  color: #000;
  background-color: #fff;
}

.slider .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  font-size: 60px;
  color: #fff;
  transition: 0.4s linear;
}

.slider .arrows:hover {
  text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.slider .prev {
  left: 3%;
}

.slider .next {
  right: 3%;
}

.dots {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

.dots span {
  width: 23px;
  height: 23px;
  border-radius: 100px;
  margin: 0 6px;
  background-color: #fff;
  display: inline-block;
  transition: 0.4s linear;
}

.dots span:hover {
  background-color: #000 !important;
  border: 2px solid #fff;
}

.dot-active {
  background-color: #000 !important;
  border: 2px solid #fff;
}

/* slider css end */

.btn{
  font-size: 1em;
  color: #fff;
  background: #FF4233;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover{
  letter-spacing: 6px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 05);
}

header .logo{
  color: #FF4500;
  font-weight: 700;
  font-size: 2.2em;
  text-decoration: none;
}

header.sticky .logo{
  color: #111;
}

header .logo span{
  color: #333EFF;
}

header .navigation{
  position: relative;
  display: flex;
}

header .navigation li{
  list-style: none;
  margin-left: 30px;
}

header .navigation li a{
  text-decoration: none;
  color: #a6a09f;
  font-weight: 900;
  font-size: 1.2rem;

}

header.sticky .navigation li a{
  color: #111;
}

header .navigation li a:hover{
  color: #f3664d;
  letter-spacing: 5px;
}

/* footer css start */
footer{
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
  background: linear-gradient(57deg, #000428, #004e92);
}
.content1{
position: relative;
margin: 130px auto;
text-align: center;
padding: 0 20px;
}
.content1 .text{
font-size: 2.5rem;
font-weight: 600;
color: #202020;
}
.content1 .p{
font-size: 2.1875rem;
font-weight: 600;
color: #202020;
}


.main-content .box{
flex-basis: 50%;
padding: 10px 20px;
}
.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
}
.box .content{
margin: 20px 0 0 0;
position: relative;
}
.box .content:before{
position: absolute;
content: '';
top: -10px;
height: 2px;
width: 100%;
background: #1a1a1a;
}
.box .content:after{
position: absolute;
content: '';
height: 2px;
width: 15%;
background: #f12020;
top: -10px;
}
.left .content p{
text-align: justify;
}
.left .content .social{
margin: 20px 0 0 0;
}
.left .content .social a{
padding: 0 2px;
}
.left .content .social a span{
height: 40px;
width: 40px;
background: #1a1a1a;
line-height: 40px;
text-align: center;
font-size: 18px;
border-radius: 5px;
transition: 0.3s;
}
.left .content .social a span:hover{
background: #f12020;
}
.center .content .fas{
font-size: 1.4375rem;
background: #1a1a1a;
height: 45px;
width: 45px;
line-height: 45px;
text-align: center;
border-radius: 50%;
transition: 0.3s;
cursor: pointer;
}
.center .content .fas:hover{
background: #f12020;
}
.center .content .text{
font-size: 1.0625rem;
font-weight: 500;
padding-left: 10px;
}
.center .content .phone{
margin: 15px 0;
}
.right form .text{
font-size: 1.0625rem;
margin-bottom: 2px;
color: #656565;
}
.right form .msg{
margin-top: 10px;
}
.right form input, .right form textarea{
width: 100%;
font-size: 1.0625rem;
background: #151515;
padding-left: 10px;
border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
outline-color: #3498db;
}
.right form input{
height: 35px;
}
.right form .btn{
margin-top: 10px;
}
.right form .button button{
height: 40px;
width: 100%;
border: none;
outline: none;
background: #f12020;
font-size: 1.0625rem;
font-weight: 500;
cursor: pointer;
transition: .3s;
}
.right form .button button:hover{
background: green;
}
.bottom center{
padding: 5px;
font-size: 0.9375rem;
background: #151515;
}
.bottom center span{
color: #656565;
}
.bottom center a{
color: #f12020;
text-decoration: none;
}
.bottom center a:hover{
text-decoration: underline;
}
@media screen and (max-width: 900px) {
footer{
  position: relative;
  bottom: 0px;
}
.main-content{
  flex-wrap: wrap;
  flex-direction: column;
}
.main-content .box{
  margin: 5px 0;
}
}

/* footer css end */

/* genre/picks/special books css start */
.title{
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleText{
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span{
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

p{
  color: black;
}

.imenu .content{
  display: flex;
  justify-content: center;
  font-display: row-reverse;
  flex-wrap: wrap;
  margin-top: 50px;
}

.imenu .content .box{
  width: 300px;
  margin: 20px;
  border: 10px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}


.imenu .content .box .imgBx{
  position: relative;
  width: 100%;
  height: 300px;
}

.imenu .content .box .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.imenu .content .box .text{
  padding: 15px 0 5px;
}

.imenu .content .box .text h3{
  font-weight: 400;
  color: #111;
}

/* genre/picks/special books css end */

/* services css start */
.container{
  position: relative;
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.container .pack{
  position: relative;
  width: calc(379px - 30px);
  height: calc(300px - 30px);
  background: #000;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
}

.container .pack .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 1;
}

.container .pack:hover .icon{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container .pack .icon .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.container .pack:hover .icon .fa{
  font-size: 40px;
}

.container .pack .content{
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.container .pack:hover .content{
  top: 100px;
  opacity: 1;
}

.container .pack .content h3{
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 24px;
}

.container .pack .content p{
  margin: 0;
  padding: 0;
  color: #fff;
}

.container .pack:nth-child(1) .icon{
  background: #319635;
}


.container .pack:nth-child(1){
  background: #4caf50;
}

.container .pack:nth-child(2) .icon{
  background: #d03852;
}


.container .pack:nth-child(2){
  background: #f54967;
}


.container .pack:nth-child(3) .icon{
  background: #23798e;
}


.container .pack:nth-child(3){
  background: #328fa5;
}


.container .pack:nth-child(4) .icon{
  background: #A333FF;
}


.container .pack:nth-child(4){
  background: #8A33FF;
}
/* services css end */

/* about section css start */
section{
  padding: 100px;
  }
  
  .row{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  }
  
  .row .col50{
  position: relative;
  width: 48%;
  }
  
  .titleText{
  color: #111;
  font-size: 2em;
  font-weight: 300;
  }
  
  .titleText span{
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
  }
  
  .row .col50 .imgBx{
  position: relative;
  width: 100%;
  height: 100%;
  }
  
  .row .col50 .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  }

  /* about section css end */
