* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d9d9d9;
    font-family: 'Cormorant Garamond', serif;
    scroll-behavior: smooth;
}


/* slider css start */

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 2s ease;
}

.slide {
    width: 33.33%;
    height: 100%;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slide:nth-child(1) {
    background-image: url(images/slider2.jpg);
}

.slide:nth-child(2) {
    background-image: url(images/slider1.jpg);
}

.slide:nth-child(3) {
    background-image: url(images/slider3.jpg);
}

.slide-data {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 0 20%;
}

.slide-data p {
    color: #fff;
}

.slide-data h2 {
    font-weight: bold;
    font-size: 5em;
}

.slide-data p {
    font-size: 18px;
    margin-bottom: 10px;
}

.slide-data button {
    background: none;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bolder;
    padding: 10px 25px;
    font-size: 20px;
    transition: 0.4s linear;
}

.slide-data button:hover {
    color: #000;
    background-color: #fff;
}

.slider .arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: none;
    font-size: 60px;
    color: #fff;
    transition: 0.4s linear;
}

.slider .arrows:hover {
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.slider .prev {
    left: 3%;
}

.slider .next {
    right: 3%;
}

.dots {
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
}

.dots span {
    width: 23px;
    height: 23px;
    border-radius: 100px;
    margin: 0 6px;
    background-color: #fff;
    display: inline-block;
    transition: 0.4s linear;
}

.dots span:hover {
    background-color: #000 !important;
    border: 2px solid #fff;
}

.dot-active {
    background-color: #000 !important;
    border: 2px solid #fff;
}


/* slider css end */

.btn {
    font-size: 1em;
    color: #fff;
    background: #FF4233;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 05);
}


/* .m-sticky {
    background: #fff;
    padding: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 05);
} */

header .logo {
    color: #FF4500;
    font-weight: 700;
    font-size: 2.2em;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #333EFF;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #a6a09f;
    font-weight: 900;
    font-size: 1.2rem;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #f3664d;
    letter-spacing: 5px;
}


/* footer css start */

footer {
    bottom: 0px;
    width: 100%;
    background: #111;
}

.main-content {
    display: flex;
    background: linear-gradient(57deg, #000428, #004e92);
}

.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}

.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .button button {
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .button button:hover {
    background: green;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}


/* footer css end */


/* genre/picks/special books css start */

.title {
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

p {
    color: black;
}

.imenu .content {
    display: flex;
    justify-content: center;
    font-display: row-reverse;
    flex-wrap: wrap;
    margin-top: 50px;
}

.imenu .content .box {
    width: 220px;
    height: 10%;
    margin: 10px;
    border: 10px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}

.imenu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.imenu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: scale-down;
}

.imenu .content .box .text {
    padding: 15px 0 5px;
}

.imenu .content .box .text p {
    font-weight: 400;
    color: #111;
}


/* genre/picks/special books css end */


/* services css start */

.service-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 50px auto;
}

@media (max-width:1024px) {
    .service-container {
        height: 100%;
    }
}

.service-container .pack {
    position: relative;
    width: calc(379px - 80px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
}

.service-container .pack .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 1;
}

.service-container .pack:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.service-container .pack .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}

.service-container .pack:hover .icon .fa {
    font-size: 40px;
}

.service-container .pack .content {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.service-container .pack:hover .content {
    top: 30px;
    opacity: 1;
}

.service-container .pack .content h3 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.service-container .pack .content p {
    margin: 0;
    padding: 0;
    color: #fff;
}

.service-container .pack:nth-child(1) .icon {
    background: #319635;
}

.service-container .pack:nth-child(1) {
    background: #4caf50;
}

.service-container .pack:nth-child(2) .icon {
    background: #d03852;
}

.service-container .pack:nth-child(2) {
    background: #f54967;
}

.service-container .pack:nth-child(3) .icon {
    background: #23798e;
}

.service-container .pack:nth-child(3) {
    background: #328fa5;
}

.service-container .pack:nth-child(4) .icon {
    background: #A333FF;
}

.service-container .pack:nth-child(4) {
    background: #8A33FF;
}


/* services css end */


/* about section css start */

section {
    padding: 100px;
}

@media (max-width:1024px) {
    .last-sec {
        padding-left: 0;
    }
}

@media (min-width:425px) {
    .last-sec {
        padding-left: 50px;
    }
}

@media (min-width:1024px) {
    .last-sec {
        padding-left: 190px;
    }
}

@media (min-width:1025px) {
    .last-sec {
        padding-left: 100px;
    }
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

@media (max-width:768px) {
    .row {
        display: block;
        height: 100%;
    }
    .row .col50 {
        width: 100%;
    }
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

@media (max-width:768px) {
    .titleText {
        font-size: 36px;
    }
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* about section css end */


/* contact us css start */

.contact-container {
    width: 100%;
    margin: 0 80px;
    padding: 0.5%;
}

.text-center {
    padding-left: 40%;
    color: #f74764;
    font-size: 40px;
}

.clearfix {
    clear: both;
    float: none;
}

.contact {
    background-color: #ececec;
    padding: 8% 0;
}

.contact-form {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background: linear-gradient(57deg, #ac6161, #c56e7d);
    border-radius: 15px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(250, 248, 248);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #f0abb7;
    color: rgb(27, 26, 26);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ffffff;
}

@media only screen and (max-width:768px) {
    .contact {
        padding: 20% 0;
    }
    .contact-form {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    iframe {
        width: 100%;
    }
}


/* contact us  css end */


/* login/signup form css start */

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

#eye {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: red;
    border-color: red;
}

.loginbtn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.loginbtn:hover {
    background-color: green;
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #FFAB33 0%, #04befe 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.loginbtn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}


/* ANIMATION */

.container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
    left: 25%;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}

.container.sign-up-mode .right-panel {
    pointer-events: all;
}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%;
    }
    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }
    .right-panel {
        grid-row: 3 / 4;
    }
    .left-panel {
        grid-row: 1 / 2;
    }
    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }
    .panel h3 {
        font-size: 1.2rem;
    }
    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .loginbtn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }
    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }
    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }
    .image {
        display: none;
    }
    .panel .content {
        padding: 0.5rem 1rem;
    }
    .container {
        padding: 1.5rem;
    }
    .container:before {
        bottom: 72%;
        left: 50%;
    }
    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}


/* login/signup form css end */

/* mobile responsive style  */

#m-header {
  display: none;
}

.m-navigation {
  display: none;
  margin-top: 20px;
}

.m-navigation li {
  list-style-type: none;
}

.m-navigation li a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 23px;
}

.m-nav-show {
  display: block;
}

#menubar{
  padding-top:10px;
}

@media(max-width:768px) {
  .main-content {
      display: block;
  }
  .header-top a {
      text-decoration: none;
  }
  #d-header {
      display: none;
  }
  #m-header {
      top: -37px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, #381623, #1e2053);
      box-shadow: 2px 2px 2px 2px #c01758;
  }
  .header-top {
      width: 100%;
      display: inline-block;
  }
  .block-left {
      margin-top: -150px;
      width: 50%;
      margin-left: -80px;
      font-size: 33px;
  }
  .block-right {
      float: right;
      margin-right: -280px;
      width: 50%;
      font-size: 22px;
  }
}

@media (max-width:426px) {
  .block-right {
      margin-right: -100px;
  }
}

@media (max-width:320px) {
  .block-right {
      margin-right: -80px;
  }
}

@media (max-width:768px) {
  .row .col50 .imgBx img {
      position: unset;
  }
  .about-section {
      margin-top: 60px;
      padding: 35px;
  }
  .contact-section {
      padding-left: 0px;
  }
  .text-center {
      padding-left: 40px;
  }
  .contact-container {
      width: 90%;
      margin: auto;
  }
  .filter-box {
      margin: auto;
      width: 90%;
      display: inline-flex;
      overflow: scroll;
  }
  .filter-box a {
      padding: 10px 12px;
      margin-top: 10px;
  }
  .store-product {
      max-width: 100%;
  }
  .login-container {
      margin-top: 75px;
  }
  .container {
      min-height: 885px;
  }
  section {
      padding: 20px;
  }
  .slide-data h2 {
      font-weight: bold;
      font-size: 3rem;
  }
}

iframe {
  width: 100%;
}

@media (max-width:767px) {
  .contact-section {
      margin-top: 30px;
  }
}


/* end mobile responsive style  */